Professional headshot portrait of {{ character.name }}, {{ character.gender or "Male" }} {{ character.race }} {{ character.class }}, level {{ character.level }}. {% if character.physical_appearance %}{{ character.physical_appearance[:200] | replace('\n', ' ') | replace('  ', ' ') }}{% endif %} {{ character.alignment }} alignment, {{ character.background }} background. {{ campaign.settings }} fantasy setting. Professional portrait, studio lighting, {{ character.class }} attire, head and shoulders, face visible and centered. 